body {
    width: 64%;
    margin-left: 18%;
    margin-right: 18%;

}

#header {
    background-color: rgb(71, 175, 240);
    height: 100px;
    background-image: url("img/pattern.png");
}

svg {
    height: 100%;
    padding-left: 10px;
    padding-top: 30px;

}

h1 {
    font-size: 50px;
}

h4,
h6 {
    color: rgb(137, 137, 137);
}

h4 span {
    color: rgb(0, 191, 255);
}



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}